# Configuración de Producción
DB_PATH=korzadivpn.db
PORT=8080
# Secret Key para JWT (Cambiar por una clave robusta en producción)
SECRET_KEY=usar_un_secret_generado
# WireGuard Interface
WG_INTERFACE=wg0
